{% extends 'shared/base.html' %}
{% load static %}
{% block content %}  
    <div class="pagina-inicial">
        <main class="principal">
            <section class="conteudo">
                <section class="imagem"> 
                    <div class="cards">
                        {% if fotografia.fotos == "" or fotografia.fotos == null %}
                            <img class="imagem_imagem" src="{% static '/assets/imagens/galeria/not-found.png'%}">
                        {% else %}
                            <img class="imagem_imagem" src="{{ fotografia.fotos.url }}">
                        {% endif %}
                        <div class="imagem_info">
                            <p class="imagem_titulo">{{ fotografia.nome }}</p>
                            <p class="imagem_descricao">{{ fotografia.legenda }}</p>
                            <p class="imagem_texto"> </p>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}